.tu div  {
    animation: popUp 6s ease 1;
    opacity: 1;
}

@keyframes popUp {
    from {
        opacity: 0;
    }
    to {
        transform: translateY(3rem);
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    25% {
        transform: translateY(3rem);
    }
}